Repository SamEdwardes/rstudio-demos: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebooks, air

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # General hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files

    # Python
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.11.1
      hooks:
          - id: ruff
            args:
                - --fix
                - --select=I,F401
          - id: ruff-format

    # Jupyter
    - repo: local
      hooks:
          - id: clean-notebooks
            name: Remove output from Jupyter Notebooks
            entry: uvx jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
            language: system
            files: \.ipynb$

    # R
    - repo: local
      hooks:
          # https://github.com/posit-dev/air
          - id: air
            name: Format R code with air
            entry: air format .
            language: system
            files: \.R$

Update pre-commit
  .pre-commit-config.yaml
Due: none

Update usage instructions for plumber with auth key
  apis/plumber-penguins/README.md
  apis/plumber-penguins/plumber-penguins.Rproj
Due: none

Update deployment metadata for dash, shiny and streamlit examples
  apis/fastapi-whoami/rsconnect-python/fastapi-whoami.json
  applications/dash-penguins/app/.posit/publish/Dash app demo 2024-09-17-7HVC.toml
  applications/dash-penguins/app/.posit/publish/Dash app from VS Code-GHEL.toml
  applications/dash-penguins/app/.posit/publish/deployments/deployment-1.toml
  applications/dash-penguins/app/.posit/publish/deployments/deployment-2.toml
  applications/shiny-penguins/.Rprofile
  applications/shiny-penguins/renv.lock
  applications/shiny-penguins/renv/.gitignore
  applications/shiny-penguins/renv/activate.R
  applications/shiny-penguins/renv/settings.json
  applications/shiny-penguins/shiny-penguins.Rproj
  applications/streamlit-penguins/app/.posit/publish/Meet the Penguins (Streamlit)-RHOH.toml
  applications/streamlit-penguins/app/.posit/publish/Push button streamlit app-O32J.toml
  applications/streamlit-penguins/app/.posit/publish/Streamlit Demo 2024-10-24-UF6I.toml
  applications/streamlit-penguins/app/.posit/publish/Streamlit deployment-0CSJ.toml
  applications/streamlit-penguins/app/.posit/publish/Streamlit from VS Code-T1RD.toml
  applications/streamlit-penguins/app/.posit/publish/Streamlit push button-E8HS.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-1.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-1EU4.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-2.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-B2CF.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-EU1B.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-I4QF.toml
Due: air

Set up uv for FastAPI penguins
  apis/fastapi-penguins/pyproject.toml
  apis/fastapi-penguins/requirements.txt
  apis/fastapi-penguins/uv.lock
Due: none

Add new data-sources folder that shows quick and easy snippets for connecting to various data sources
  data-sources/.Rprofile
  data-sources/.gitignore
  data-sources/.posit/publish/data-sources-R1JK.toml
  data-sources/.posit/publish/deployments/deployment-SQM8.toml
  data-sources/.python-version
  data-sources/README.md
  data-sources/create-sqlite-db.py
  data-sources/data-sources.Rproj
  data-sources/pyproject.toml
  data-sources/r
  data-sources/read-snowflake.R
  data-sources/read-snowflake.py
  data-sources/read-sqlite.R
  data-sources/read-sqlite.py
  data-sources/renv.lock
  data-sources/renv/.gitignore
  data-sources/renv/activate.R
  data-sources/renv/settings.json
  data-sources/sample.db
  data-sources/test.py
  data-sources/uv.lock
Due: air

Added a good databricks example using sql warehouse
  databricks/databricks-jupyter-notebook/.python-version
  databricks/databricks-jupyter-notebook/notebook-sql-warehouse.ipynb
  databricks/databricks-jupyter-notebook/pyproject.toml
  databricks/databricks-jupyter-notebook/uv.lock
Due: clean-notebooks

SQL warehouse Jupyter Notebook example for Databricks working
  databricks/databricks-jupyter-notebook-sql-warehouse/.python-version
  databricks/databricks-jupyter-notebook-sql-warehouse/notebook.ipynb
  databricks/databricks-jupyter-notebook-sql-warehouse/pyproject.toml
  databricks/databricks-jupyter-notebook-sql-warehouse/uv.lock
Due: clean-notebooks

Databricks PySpark notebook example working
  databricks/databricks-jupyter-notebook-pyspark/.python-version
  databricks/databricks-jupyter-notebook-pyspark/notebook.ipynb
  databricks/databricks-jupyter-notebook-pyspark/pyproject.toml
  databricks/databricks-jupyter-notebook-pyspark/uv.lock
Due: clean-notebooks

Remove generic jupyter-notebook for Databricks
  databricks/databricks-jupyter-notebook/.python-version
  databricks/databricks-jupyter-notebook/notebook-sql-warehouse.ipynb
  databricks/databricks-jupyter-notebook/pyproject.toml
  databricks/databricks-jupyter-notebook/uv.lock
Due: clean-notebooks

Remove pyspark from SQL warehouse example
  databricks/databricks-jupyter-notebook-sql-warehouse/pyproject.toml
  databricks/databricks-jupyter-notebook-sql-warehouse/uv.lock
Due: none

Added simple streamlit pyspark and sql warehouse Databricks examples
  databricks/databricks-streamlit-app/.python-version
  databricks/databricks-streamlit-app/requirements.txt
  databricks/databricks-streamlit-app/uv.lock
  databricks/databricks-streamlit-app/workbench.py
  databricks/databricks-streamlit-pyspark/.gitignore
  databricks/databricks-streamlit-pyspark/.posit/publish/2025-03-10-Databricks-test-T7IC.toml
  databricks/databricks-streamlit-pyspark/.posit/publish/Databricks Streamlit - SQL War-9B1Q.toml
  databricks/databricks-streamlit-pyspark/.posit/publish/deployments/deployment-AMVM.toml
  databricks/databricks-streamlit-pyspark/.posit/publish/deployments/deployment-KIH0.toml
  databricks/databricks-streamlit-pyspark/README.md
  databricks/databricks-streamlit-pyspark/app.py
  databricks/databricks-streamlit-pyspark/justfile
  databricks/databricks-streamlit-pyspark/pyproject.toml
  databricks/databricks-streamlit-pyspark/requirements.txt
  databricks/databricks-streamlit-pyspark/uv.lock
  databricks/databricks-streamlit-sql-warehouse/.posit/publish/Databricks Streamlit - SQL War-G3JV.toml
  databricks/databricks-streamlit-sql-warehouse/.posit/publish/deployments/deployment-L5V4.toml
  databricks/databricks-streamlit-sql-warehouse/app.py
  databricks/databricks-streamlit-sql-warehouse/justfile
  databricks/databricks-streamlit-sql-warehouse/pyproject.toml
  databricks/databricks-streamlit-sql-warehouse/requirements.txt
  databricks/databricks-streamlit-sql-warehouse/uv.lock
Due: none

Added boilerplate for Databricks chat app
  databricks/databricks-shiny-python-chatbot/app-reprex.py
  databricks/databricks-shiny-python-chatbot/app.py
  databricks/databricks-shiny-python-chatbot/pyproject.toml
  databricks/databricks-shiny-python-chatbot/requirements.txt
  databricks/databricks-shiny-python-chatbot/uv.lock
Due: none

Added basic structure for databricks R chatbot
  data-sources/read-snowflake.R
  data-sources/read-sqlite.R
  databricks/databricks-shiny-r-chatbot/.Rprofile
  databricks/databricks-shiny-r-chatbot/app.R
  databricks/databricks-shiny-r-chatbot/databricks-shiny-r-chatbot.Rproj
  databricks/databricks-shiny-r-chatbot/renv.lock
  databricks/databricks-shiny-r-chatbot/renv/.gitignore
  databricks/databricks-shiny-r-chatbot/renv/activate.R
  databricks/databricks-shiny-r-chatbot/renv/settings.json
Due: air

Update FastAPI penguins to use newer versions of Python packages and pullers instead of pandas
  apis/fastapi-penguins/.posit/publish/deployments/deployment-T79T.toml
  apis/fastapi-penguins/.posit/publish/fastapi-penguins-G3IU.toml
  apis/fastapi-penguins/README.md
  apis/fastapi-penguins/app.py
  apis/fastapi-penguins/pyproject.toml
  apis/fastapi-penguins/requirements.txt
  apis/fastapi-penguins/uv.lock
Due: none

Verify that the plumber penguins example still works.
  apis/plumber-penguins/renv/activate.R
Due: air

Added example bioconductor app
  applications/bioconductor-shiny/.Rprofile
  applications/bioconductor-shiny/app.R
  applications/bioconductor-shiny/bioconductor-shiny.Rproj
  applications/bioconductor-shiny/renv.lock
  applications/bioconductor-shiny/renv/.gitignore
  applications/bioconductor-shiny/renv/activate.R
  applications/bioconductor-shiny/renv/settings.json
  applications/bioconductor-shiny/test.R
Due: air

Deploy FastAPI penguins
  apis/fastapi-penguins/.posit/publish/deployments/deployment-T79T.toml
Due: none

Update example curl request for plumber penguins
  apis/plumber-penguins/README.md
Due: none

Add example reticulate R package
  packages/retuvdemo/.Rbuildignore
  packages/retuvdemo/DESCRIPTION
  packages/retuvdemo/LICENSE
  packages/retuvdemo/LICENSE.md
  packages/retuvdemo/NAMESPACE
  packages/retuvdemo/R/polarsdf.R
  packages/retuvdemo/R/strsplit1.R
  packages/retuvdemo/man/polarsdf.Rd
  packages/retuvdemo/man/strsplit1.Rd
  packages/retuvdemo/retuvdemo.Rproj
Due: air

Fixed bug
  packages/retuvdemo/R/polarsdf.R
Due: air

Clean up dash example
  applications/dash-multi-page-penguins/using-dash-pages/.gitignore
  applications/dash-multi-page-penguins/using-dash-pages/.python-version
  applications/dash-multi-page-penguins/using-dash-pages/README.md
  applications/dash-multi-page-penguins/using-dash-pages/app.py
  applications/dash-multi-page-penguins/using-dash-pages/manifest.json
  applications/dash-multi-page-penguins/using-dash-pages/requirements.txt
Due: none

Snowflake with Dash working example
  snowflake/dash-app/.gitignore
  snowflake/dash-app/.posit/publish/Snowflake with Dash Example-4JLL.toml
  snowflake/dash-app/.posit/publish/deployments/deployment-AD6E.toml
  snowflake/dash-app/.python-version
  snowflake/dash-app/README.md
  snowflake/dash-app/app.py
  snowflake/dash-app/pyproject.toml
  snowflake/dash-app/requirements.txt
  snowflake/dash-app/uv.lock
Due: none

Add filters to steamlit app, use uv, use pyrefly, update deps
  applications/streamlit-penguins/README.md
  applications/streamlit-penguins/app.py
  applications/streamlit-penguins/app/.posit/publish/Meet the Penguins (Streamlit)-RHOH.toml
  applications/streamlit-penguins/app/.posit/publish/Push button streamlit app-O32J.toml
  applications/streamlit-penguins/app/.posit/publish/Streamlit Demo 2024-10-24-UF6I.toml
  applications/streamlit-penguins/app/.posit/publish/Streamlit deployment-0CSJ.toml
  applications/streamlit-penguins/app/.posit/publish/Streamlit from VS Code-T1RD.toml
  applications/streamlit-penguins/app/.posit/publish/Streamlit push button-E8HS.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-1.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-1EU4.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-2.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-B2CF.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-EU1B.toml
  applications/streamlit-penguins/app/.posit/publish/deployments/deployment-I4QF.toml
  applications/streamlit-penguins/app/manifest.json
  applications/streamlit-penguins/app/requirements.txt
  applications/streamlit-penguins/manifest.json
  applications/streamlit-penguins/pyproject.toml
  applications/streamlit-penguins/pyrefly.toml
  applications/streamlit-penguins/requirements.txt
  applications/streamlit-penguins/uv.lock
Due: none

Update snowflake dash app
  snowflake/dash-app/.posit/publish/deployments/deployment-AD6E.toml
  snowflake/dash-app/app.py
Due: none

Update ShinyPenguins deployment so that code is in root of project
  applications/shiny-penguins/.posit/publish/Shiny Penguins-G9AF.toml
  applications/shiny-penguins/.posit/publish/deployments/deployment-B7BL.toml
  applications/shiny-penguins/app.R
  applications/shiny-penguins/app/data.csv
  applications/shiny-penguins/data.csv
  applications/shiny-penguins/manifest.json
  applications/shiny-penguins/penguin_flipper_app.R
  applications/shiny-penguins/renv.lock
  applications/shiny-penguins/renv/activate.R
Due: air

Add a Databot example to the streamlet penguins readme.
  applications/streamlit-penguins/README.md
  applications/streamlit-penguins/pyproject.toml
Due: none

Add databot demo folder
  databot/README.md
  databot/data/atlanta-falcons/falcons-roster.csv
  databot/data/atlanta-falcons/falcons-scores.csv
  databot/data/atlanta-falcons/falcons-seasons.csv
  databot/data/georgia-aquarium/animals.csv
Due: none

improve bioc shiny
  applications/bioconductor-shiny/one-time-setup.R
  applications/bioconductor-shiny/renv.lock
  applications/bioconductor-shiny/renv/settings.json
  applications/bioconductor-shiny/test.R
Due: air

Update snowflake dash app to work on Positron "Data Apps"
  snowflake/dash-app/README.md
  snowflake/dash-app/app.py
  snowflake/dash-app/pyproject.toml
  snowflake/dash-app/reprex-bad-app.py
  snowflake/dash-app/reprex-good-app.py
  snowflake/dash-app/uv.lock
Due: none

Update fastapi-penguins to have logging
  apis/fastapi-penguins/app.py
  apis/fastapi-penguins/pyproject.toml
  apis/fastapi-penguins/requirements.txt
  apis/fastapi-penguins/uv.lock
Due: none

Quarto email with matching report
  documents/quarto-email-matches-report/.gitignore
  documents/quarto-email-matches-report/.output_metadata.json
  documents/quarto-email-matches-report/.posit/publish/deployments/deployment-7VKH.toml
  documents/quarto-email-matches-report/.posit/publish/quarto-email-matches-report - -KJUL.toml
  documents/quarto-email-matches-report/_content.qmd
  documents/quarto-email-matches-report/include.qmd
  documents/quarto-email-matches-report/main.qmd
  documents/quarto-email-matches-report/pyproject.toml
  documents/quarto-email-matches-report/requirements.txt
  documents/quarto-email-matches-report/uv.lock
Due: none

Quarto email with attachments
  documents/quarto-with-attachments/.gitignore
  documents/quarto-with-attachments/.output_metadata.json
  documents/quarto-with-attachments/.posit/publish/Quarto Document with attachmen-KKNU.toml
  documents/quarto-with-attachments/.posit/publish/deployments/deployment-N7OS.toml
  documents/quarto-with-attachments/.python-version
  documents/quarto-with-attachments/README.md
  documents/quarto-with-attachments/doc.qmd
  documents/quarto-with-attachments/pyproject.toml
  documents/quarto-with-attachments/requirements.txt
  documents/quarto-with-attachments/uv.lock
Due: none

Add example of R with databricks sparklyr
  databricks/databricks-r-sparklyr/main.R
Due: air

Shiny for R chatbot
  applications/shiny-chatbot/.Rprofile
  applications/shiny-chatbot/.posit/publish/deployments/deployment-4PI4.toml
  applications/shiny-chatbot/.posit/publish/shiny-chatbot with bedrock-9N7K.toml
  applications/shiny-chatbot/README.md
  applications/shiny-chatbot/app.R
  applications/shiny-chatbot/renv.lock
  applications/shiny-chatbot/renv/.gitignore
  applications/shiny-chatbot/renv/activate.R
  applications/shiny-chatbot/renv/settings.json
Due: air

Add more documentation to the Sparkly R example for Databricks
  databricks/databricks-r-sparklyr/README.md
  databricks/databricks-r-sparklyr/main.R
Due: air

Update FastAPI penguins
  apis/fastapi-penguins/.posit/publish/deployments/deployment-T79T.toml
  apis/fastapi-penguins/app.py
  apis/fastapi-penguins/requirements.txt
Due: none

Use prek for pre-commit
  .pre-commit-config.yaml
  apis/fastapi-penguins/prek.toml
  apis/fastapi-whoami/prek.toml
  apis/flask-webapp/prek.toml
  apis/plumber-penguins/prek.toml
  apis/plumber-tableau-penguins/prek.toml
  apis/vetiver-train-and-deploy-python/prek.toml
  prek.toml
Due: none
